<section class="section-contact">
  <h2 id="Details">Contact Details</h2>
  <hr class="bar"/>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/shilendra-yadav-7933064b" alt="https://www.linkedin.com/in/shilendra-yadav-7933064b">
      <div class="glyph-icon flaticon-linkedin"></div>
    </a>
    <a href="https://github.com/shilendra12" alt="https://github.com/shilendra12">
      <div class="glyph-icon flaticon-github"></div>
    </a>
    <a href="https://github.com/shilendra12" alt="resume">
      <div class="glyph-icon flaticon-github"></div>
     </a>
  </div>
  <hr class="bar"/><a href="mailto:yshilendra2@gmail.com" class="biglink">yshilendra2@gmail.com</a></section>
